.slide--weather {
  color: #fff;
  background-color: #F7A072;
}

.slide--weather .slide__title-container {
  color: #000;
  background-color: #EDDEA4;
}

.CurrentWeatherContainer {
  height: 50%;
}

.FutureWeatherContainer {
  height: 50%;
}

.CurrentWeather {
  width: 67%;
}

.CurrentWeather__Temp {
  font-size: 13em;
  line-height: 0.9em;
  letter-spacing: -12px;
}

.CurrentWeather__TempDesc {
  font-size: 2em;
}

.CurrentWeather__ConditionsLabel {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.CurrentWeather__ConditionsDesc {
  font-size: 3em;
  line-height: 1em;
}

.FutureWeather__DailyContainer {
  border-left: 5px solid #FFF;
}

.FutureWeather__SectionLabel {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
}

.FutureWeather__Label {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.FutureWeather__Temp {
  font-size: 4em;
  text-align: center;
}

.FutureWeather__Temp--Low {
  font-size: 2em;
  text-align: center;
}
