.slide--fantasy-football-matchups {
  color: #fff;
  background-color: #26A96C;
}

.slide--fantasy-football-matchups .slide__title-container {
  color: #fff;
  background-color: #2BC016;
}

.FantasyMatchups {
  /* width: 80%; */
  width: 100%;
}

.FantasyMatchup {
  margin-bottom: 25px;
}

.NameContainer,
.LogoContainer,
.ScoreContainer {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.NameContainer {
  flex: 0 0 65%;
  max-width: 65%;
  padding-top: 30px;
}

.LogoContainer {
  flex: 0 0 18%;
  max-width: 18%;
}

.ScoreContainer {
  flex: 0 0 15%;
  max-width: 15%;
}

.HomeTeam__Logo,
.AwayTeam__Logo {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: white;
}

.HomeTeam__Name,
.AwayTeam__Name {
  font-size: 2.25em;
}

.HomeTeam__Details,
.AwayTeam__Details {
  font-size: 1.5em;
}

.HomeTeam__Details {
  text-align: right;
}

.HomeTeam__DetailsSeperator,
.AwayTeam__DetailsSeperator {
  padding: 0 12px;
}

.HomeTeam__Record,
.AwayTeam__Record {
  font-style: italic;
}

.HomeTeam__Name,
.HomeTeam__Record {
  text-align: right;
}

/* .AwayTeam__Name,
.AwayTeam__Record {
  text-align: right;
} */

.HomeTeam__Score,
.AwayTeam__Score {
  font-size: 3em;
  text-align: center;
}

.ScoreSeperator {
  font-size: 2em;
  line-height: 4.25em;
  margin-left: -15px;
}