.titleContainer {
  margin-bottom: 20px;
}

.title {
  margin: 5px 0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.bodyContainer {
  height: calc(100% - 77px);
}

.slideBody {
  height: 100%;
}

.messageContainer {
  height: 100%;
}

.message {
  font-size: 10em;
}
