/*
|--------------------------------------------------------------------------
| Default Style
|--------------------------------------------------------------------------
*/

.titleDefault {
  background-color: #3F1C10;
  color: #F5F4CE;
}

.bodyDefault {
  background-color: #14181B;
}