.slide--corporate-events-holidays {
  color: #fff;
  background-color: #7B6D8D;
}

.slide--corporate-events-holidays .slide__title-container {
  color: #fff;
  background-color: #593F62;
}

.slide--corporate-events-holidays .slide__content {
  margin-top: -20px;
}

.slide--corporate-events-holidays .slide__content-container {
  height: calc(100% - 58px);
}

.UpNextEvent__Title,
.Events__Title {
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
}

.UpNextEvent {
  padding: 50px 50px 50px 100px;
}

.UpNextEvent__Icon {
  max-height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.UpNextEvent__Name {
  font-size: 4em;
  text-align: center;
}

.UpNextEvent__Time {
  font-size: 2.5em;
  font-style: italic;
  text-align: center;
}

.Events {
  max-height: 90%;
}

.Event {
  margin-bottom: 43px;
}

.Event__Icon {
  max-height: 150px;
}

.Event__Name {
  font-size: 2.5em;
}

.Event__Time {
  font-size: 2em;
  font-style: italic;
}