.slide--drinks {
  color: #fff;
  background-color: #e07160;
}

.slide--drinks .slide__title-container {
  color: #fff;
  background-color: #051a6d;
}

.slide--drinks img {
  max-height: 250px;
}

.CupsToday__value {
  font-size: 25em;
  text-align: center;
  line-height: 0.85em;
}

.CupsToday__label {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}

.DrinkStat {
  height: 33%;
}

.DrinkStat__value {
  font-size: 11em;
  line-height: 1.2em;
}

.DrinkStat__label {
  font-size: 2.5em;
  text-transform: uppercase;
}

.DrinkStat__label--lacroix {
  text-transform: none;
}