.slide--metro {
  color: #fff;
  background-color: #66A182;
}

.slide--metro .slide__title-container {
  color: #fff;
  background-color: #2E4057;
}

.Metro__TrainTime__Title,
.Metro__Alert__Title,
.Metro__Station__Title,
.MinutesToDest__Label {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5em;
}

.MinutesToDest__Value {
  font-size: 14em;
  text-align: center;
}

.MinutesToDest__Units {
  font-size: 0.5em;
}

.Metro__Station__Train {
  font-size: 4em;
  text-align: center;
  margin-top: 12px;
}

.Metro__Station__Train__Icon {
  max-width: 66px;
  max-height: 66px;
  margin-right: 10px;
  margin-top: 5px;
}

.Metro__Station__Train__Text {
  width: 245px;
}

.Metro__TrainTime__Badge {
  border-radius: 35px;
  font-size: 40px;
  padding: 30px;
}

.Metro__TrainTime__Badge--green {
  background-color: green;
}

.Metro__TrainTime__Badge--orange {
  background-color: #ff7737;
}

.Metro__TrainTime__Badge--red {
  background-color: red;
}

.Metro__TrainTime__Badge__Icon {
  margin-right: 25px;
  font-size: 4em;
  margin-top: 20px;
}

.Metro__TrainTime__Badge__Value {
  font-size: 4em;
}

.Metro__Alert__Empty {
  font-size: 7em;
  padding: 0 30px 0 0;
}

.Metro__Alert__Empty__Icon {
  max-width: 135px;
}

.Metro__Alert__Item {
  font-size: 2em;
  padding: 0 25px 20px 25px;
}