/*
|--------------------------------------------------------------------------
| Default Style
|--------------------------------------------------------------------------
*/

.titleDefault {
  background-color: #232D4B;
  /* color: #E57200; */
}

.bodyDefault {
  background-color: #E57200;
  color: #232D4B;
}
